listen on egress port smtp tls certificate server
listen on egress port submission tls-require certificate server auth

table clients db:/etc/mail/clients.db
<% @domains.each do |domain| -%>
table aliases.<%= domain %> db:/etc/mail/aliases.<%= domain %>.db
<% end if @domains -%>
<% @virtual.each do |domain| -%>
table virtual.<%= domain %> db:/etc/mail/virtual.<%= domain %>.db
<% end if @virtual -%>
<% if @local == true -%>

# accept for localhost and our fqdn
accept from any for local alias <aliases> \
	deliver to mda "<%= @mda %>"
<% end -%>
<% if @domains -%>

# accept for primary domains
<%   @domains.each do |domain| -%>
accept from any for domain { "<%= domain %>", "*.<%= domain %>" } \
	alias <aliases.<%= domain%>> \
	deliver to mda "<%= @mda %>"
<%   end -%>
<% end -%>
<% if @virtual -%>

# accept for virtual domains
<%   @virtual.each do |domain| -%>
accept from any for domain { "<%= domain %>", "*.<%= domain %>" } \
	virtual <virtual.<%= domain%>> \
	deliver to mda "<%= @mda %>"
<%   end -%>
<% end -%>

# relay for remote clients and local users
accept from <clients> for any relay<% if @mail_domain %> as "@<%= @mail_domain %>"<% end %>
accept from local for any relay<% if @mail_domain %> as "@<%= @mail_domain %>"<% end %>
